@media screen and (max-width: 1023px) {

  /* disable bulma hover */
  .navbar-item.has-dropdown.is-hoverable:hover .navbar-dropdown {
    display: block;
  }

  /* and let is-active decide */
  .navbar-item.has-dropdown:not(.is-active) .navbar-dropdown {
    display: none;
  }
}

/**
  * message-box message
  */
.fixed-top-message {
  position: fixed;
  top: 1rem;
  left: 0;
  right: 0;
  z-index: 1000;
  pointer-events: none;
}
/**
  * END message-box message
  */

.word-break{
  word-break: break-all;
  white-space: normal;
}

.full-height {
  height: 100%;
}

.rotate-180 {
  transform: rotate(180deg);
  display: inline-block;
}

.pulse {
  animation: pulse 1.5s ease-in-out infinite;
}

@keyframes pulse {
  0%, 100% {
    opacity: 1;
    transform: scale(1);
  }
  50% {
    opacity: 0.6;
    transform: scale(1.2);
  }
}

#results-table tbody tr:hover {
  cursor: pointer;
}


.is-icon-wrapper {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-right: 0.5rem; /* icon spacing */
}

/* default size */
.is-icon-wrapper.bi-sm { width: 2rem; height: 2rem; font-size: 1.5rem; }
.is-icon-wrapper.bi-md { width: 2.5rem; height: 2.5rem; font-size: 2rem; }
.is-icon-wrapper.bi-lg { width: 3rem; height: 3rem; font-size: 2.5rem; }
.is-icon-wrapper.bi-xl { width: 3.5rem; height: 3.5rem; font-size: 3rem; }
.is-icon-wrapper.bi-xxl { width: 5rem; height: 5rem; font-size: 4rem; }

/* Custom size for mobile */
@media screen and (max-width: 768px) {
    .is-icon-wrapper.bi-sm { width: 1.8rem; height: 1.8rem; font-size: 1.3rem; }
    .is-icon-wrapper.bi-md { width: 2.2rem; height: 2.2rem; font-size: 1.7rem; }
    .is-icon-wrapper.bi-lg { width: 2.7rem; height: 2.7rem; font-size: 2.2rem; }
    .is-icon-wrapper.bi-xl { width: 3rem; height: 3rem; font-size: 2.5rem; }
    .is-icon-wrapper.bi-xxl { width: 4rem; height: 4rem; font-size: 3.2rem; }
}

/**
 * Set icon with a disabled sign
 * not natively supported by bulma/html
 */
.is-icon-disabled
{
  opacity: 0.5;
  cursor: not-allowed;
}

/**
 * Change curson icon with clickable one
 */
.is-icon-clickable
{
  cursor: pointer;
}

