@media screen and (max-width: 1023px) {

  /* neutralize le hover Bulma */
  .navbar-item.has-dropdown.is-hoverable:hover .navbar-dropdown {
    display: block;
  }

  /* and let is-active decide */
  .navbar-item.has-dropdown:not(.is-active) .navbar-dropdown {
    display: none;
  }
}

/**
  * message-box message
  */
.fixed-top-message {
  position: fixed;
  top: 1rem;
  left: 0;
  right: 0;
  z-index: 1000;
  pointer-events: none;
}
/**
  * END message-box message
  */

.word-break{
  word-break: break-all;
  white-space: normal;
}

.full-height {
  height: 100%;
}

.rotate-180 {
  transform: rotate(180deg);
  display: inline-block;
}

.pulse {
  animation: pulse 1.5s ease-in-out infinite;
}

@keyframes pulse {
  0%, 100% {
    opacity: 1;
    transform: scale(1);
  }
  50% {
    opacity: 0.6;
    transform: scale(1.2);
  }
}

#results-table tbody tr:hover {
    cursor: pointer; /* Change le curseur au survol */
}
